.fri {
  width: 100%;
  position: absolute;
  z-index: -1;
}

h1 {
  font-size: 10rem;
  text-align: center;
  color: #333333;
  top: 20%;
  left: 15%;
  font-family: "Annie Use Your Telescope", cursive;
  position: absolute;
}

h2 {
  font-size: 7rem;
  text-align: center;
  color: #333333;
  top: 42%;
  left: 57%;
  font-family: "Annie Use Your Telescope", cursive;
  position: absolute;
}
