/************  VARIABLER  *************/
html {
  --font_1: "futura-pt", sans-serif;
  --font_2: "Annie Use Your Telescope", cursive;
  --moerkeblaa: #2c2d7d;
  --orange: #f26419;
  --lyseblaa: #d7e1ea;
  --hvid: white;
  --graa_s: #c2c2c2;
  --graa_l: #e8e8e8;
  --graa_m: #5f5f5f;
}
/* Streg under mine projekter */
.menu_streg {
  border-bottom: solid 2px var(--moerkeblaa);
}
/****************** Illusion af postkost ********************/
p {
  border-bottom: solid 2px var(--graa_s);
}

h2 {
  border-top: solid 2px var(--graa_s);
}

.link_tema {
  font-family: var(--font_1);
  color: var(--orange);
  font-size: 1rem;
  border-bottom: solid 2px var(--orange);
}
/* Første hvide kasse */
.main_div {
  padding: 3%;
  margin: 4%;
  background-color: var(--hvid);
}
/* Anden grå kasse */
.foto_div {
  padding: 7%;
  background-color: var(--graa_l);
  margin: auto;
}
/* Tredje mørke kasse */
.foto_bill {
  background-color: var(--graa_m);
}

/* Skjuler frimærker på mobil */
.fri {
  display: none;
}

/* knappernes placering */
.knapper {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

/* stylingen af knapperne */
button {
  background-color: var(--moerkeblaa);
  color: var(--hvid);
  margin-bottom: 2%;
  border: none;
  font-family: "Annie Use Your Telescope", cursive;
  font-size: 100%;
  letter-spacing: 1.5px;
  border-radius: 10px;
  padding: 2% 3%;
  white-space: nowrap;
  cursor: pointer;
}

button:hover {
  background-color: var(--orange);
  color: var(--hvid);
}

@media (min-width: 800px) {
  h2,
  link {
    text-align: center;
    border: none;
  }

  .fri {
    display: block;
    width: 80%;
  }

  /* Hvid kasse opdeling */
  .main_div {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin-left: 11%;
    margin-right: 11%;
    padding: 2%;
    margin-bottom: 10%;
  }

  p {
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 0;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .overskift {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
  }

  .fri {
    float: right;
  }

  /* Border på midten */
  .txt_div {
    border-left: solid 2px var(--graa_s);
    margin-left: 25px;
  }
}
