/***********************************  RESET + BASE  ***********************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

main {
  overflow: hidden;
}

img {
  width: 100%;
}
/************  VARIABLER  *************/
html {
  --font_1: "futura-pt", sans-serif;
  --font_2: "Annie Use Your Telescope", cursive;
  --moerkeblaa: #2c2d7d;
  --orange: #f26419;
  --lyseblaa: #d7e1ea;
  --hvid: white;
  --graa_s: #c2c2c2;
  --graa_l: #e8e8e8;
  --graa_m: #5f5f5f;
}

/***************** GENRELT ***************/

main {
  background-color: var(--lyseblaa);
}

/************ COPY *********/
h1 {
  font-family: var(--font_1);
  color: var(--moerkeblaa);
  font-size: 3.5rem;
  margin: 0;
  margin-top: 5%;
  text-align: center;
}

h2 {
  font-family: var(--font_2);
  color: var(--moerkeblaa);
  font-size: 2.9rem;
  margin: 0;
  margin-top: 3%;
  text-align: center;
}

h3 {
  font-family: var(--font_2);
  color: var(--moerkeblaa);
  font-size: 1.3rem;
  font-weight: 1000;
  margin: 0;
  white-space: nowrap;
}
p {
  font-family: var(--font_1);
  font-size: 1rem;
  line-height: 1.5rem;
}

.orange {
  color: var(--orange);
  border-bottom: solid 2px var(--orange);
}

/* Dokumentation og præsentation */
.orange2 {
  color: var(--orange);
  text-align: center;
}
/* fed skrift ved foto */
.foto_txt {
  font-weight: 1000;
  color: var(--moerkeblaa);
}

@media (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.6rem;
  }
}

/* h3:hover {
  color: #4055a0;
  color: #f26419;
} */
/* 
a {
  list-style-type: none;
}

a {
  display: inline-block;
  position: relative;
}

a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

a:hover::after,
a.active-nav::after {
  width: 100%;
  background: #4055a0;
  background: #f26419;
} */

/* .header_bill {
  position: relative;
  z-index: 15;
}

.header_top {
  margin-top: -1px;
} */

.link {
  /* margin-bottom: 2%; */
  letter-spacing: 1.5px;
  border-radius: 10px;
  text-align: center;
  /* width: fit-content; */
  /* background-color: #cc8080; */
  /* padding: 5%; */
  /* margin-bottom: 2%;
  letter-spacing: 1.5px; */
  /* box-shadow: 0 0 10px #52525280; */
  /* border-radius: 10px; */
  /* padding: 2% 0%; */
  /* margin-left: 13%; */
}

/**************************************   HEADER GENRELT  ***************************************/

header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hvid);
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}

.header_top {
  position: absolute;
  margin-top: -1px;
  /* z-index: 15; */
}

.logo {
  aspect-ratio: 715/822;
  margin-top: 2%;
  margin-left: 4%;
  width: 54px;
  /* padding: 1rem; */
  margin: 0;
}

/* .header_bill {
  position: relative;
  z-index: 15;
} */

@media (min-width: 800px) {
  /*** HEADER Desktop ***/
  header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    gap: 2rem;
    overflow-x: auto;
  }

  .header_top {
    position: fixed;
    z-index: 15;
  }

  .logo {
    width: 6%;
    aspect-ratio: 715/822;
    margin-top: 0%;
  }
}

/***********************************  BURGERMENU  ***********************************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--moerkeblaa);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    margin: 0;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--lyseblaa);
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    height: 100%;

    z-index: 1;
  }

  nav.active .menu li {
    margin: 2rem 0;
  }
}

/***********************************  LINKS  ***********************************/

a {
  text-decoration: none;
  font-family: var(--font_2);
  font-size: 1.5rem;
  color: var(--moerkeblaa);
}
header a {
  text-decoration: none;
  color: var(--moerkeblaa);
}
/* a:visited {
  text-decoration: none;

} */

a:hover {
  color: var(--orange);
  border-bottom: none;
}

.mailen {
  font-size: 1rem;
}

/***********************************  LISTEPUNKTER  ***********************************/

/* Nedenstående er lånt herfra https://codepen.io/toianw/pen/YqEqrz */

li {
  list-style-type: none;
}

li > a {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}

li > a::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}

li > a:hover::after,
li > a.active-nav::after {
  width: 100%;
  background: var(--orange);
}

/********************* FOOTER  **********************/
.bund {
  transform: rotate(180deg);
  margin: -6px;
}

.iconer {
  width: 5%;
  margin-right: 4%;
  margin-top: 2%;
}

.hele_footer {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
}
.footer_txt {
  margin-left: 4%;
}
.mail_icon {
  width: 10%;
}

@media (min-width: 800px) {
  /*** FOOTER Desktop ***/
  .footer_txt {
    margin: 0;
    font-size: 1.3rem;
    margin-left: 4%;
  }
  .mailen {
    margin: auto;
  }

  .mail_icon {
    width: 11%;
  }
  .iconer {
    width: 2%;
    margin-right: 4%;
    margin-top: 2%;
  }
}
